@{
    ViewData["Title"] = "Home";
}

<section>
    <div class="container">

        Here it is

        @{
            var j=5;
            for (var i = 0; i < 5; i++)
            {
                <ul><li>Hey</li></ul>
            }
        }
        @j
    </div>



</section>